@import './variables.scss';
:root {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

button {
	@include desktopTextPreset7;
	width: 168px;
	height: 57px;
	border-radius: 28px;
	border: 0;
	background-color: $c-blue900;
	color: $c-white;
}

body{ 

	nav {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			height: 100%
		}

	}

	.hero {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 64px;

		h1 {
			@include mobileTextPreset1();
			color: $c-blue900;
		}

		p {
			@include desktopTextPreset5();
			margin-top: 24px;
		}

		button {
			background: $g-pink;
			margin-top: 40px;
		}

		img {
			margin-top: 48px;
			align-self: center;
			width: 130%;
		}

	}

	main {
		padding: 0 	20px;
		background: $g-grey;
		padding-bottom: 80px;
		.action-call {
			@include mobileTextPreset3();
			background: $g-pink;
			height: 122px;
			color: $c-white;
			border-radius: 15px;

			p {
				padding: 32px;
			}
		}

		.card {
			background-color: $c-white;
			margin-top: 64px;
			padding: 64px 32px 40px 32px;
			position: relative;
			border-radius: 15px;

			img {
				position: absolute;
				top: -32px;
			}

			h2 {
				@include mobileTextPreset4();
			}

			p {
				@include desktopTextPreset6();
				color: $c-grey;
				margin: 24px 0 ;
			}

			a {
				@include desktopTextPreset7();
				color: $c-pink600;
			}
		}
	}

	footer {
		background-color: $c-blue900;
		padding: 24px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			height: 100%;
		}

		button {
			background: $g-purple;
			width: 152px;
			height: 48px;
		}
	}
}

@media screen and (min-width: 768px) {

	body{
		main {
			padding: 44px;
			.hero{
				margin-top: 0;
				position: relative;
				flex-direction: row;
				height: 528px;
				align-items: center;
				.text-content{
					width: 40%;
				}
	
				img {
					position: absolute;
					height: 800px;
					width: auto;
					top: -280px;
					right: -380px;
				}
			}
		}
	}
}

// @media screen and (min-width: 1440px) {

// 	body{
// 		main {
// 			padding: 44px;
// 			.hero{
// 				margin-top: 0;
// 				position: relative;
// 				flex-direction: row;
// 				height: 528px;
// 				align-items: center;
// 				.text-content{
// 					width: 40%;
// 				}
	
// 				img {
// 					position: absolute;
// 					height: 1046px;
// 					width: 1138px;
// 					top: -300px;
// 					right: -390px;
// 				}
// 			}
// 		}
// 	}
// }