@import './variables.scss';
:root {
	margin: 20px;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

button {
	@include desktopTextPreset7;
	width: 168px;
	height: 59px;
	border-radius: 28px;
	border: 0;
	background-color: $c-blue900;
	color: $c-white;
}

body{ 

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			height: 100%
		}

	}

	.hero {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 64px;

		h1 {
			@include mobileTextPreset1();
			color: $c-blue900;
		}

		p {
			@include desktopTextPreset5();
			margin-top: 24px;
		}

		button {
			background: $g-pink;
			margin-top: 40px;
		}

		img {
			margin-top: 48px;
			align-self: center;
			width: 130%;
		}

	}

	main {
		background: $g-grey;
		.action-call {
			@include mobileTextPreset3();
			background: $g-pink;
			height: 122px;
			color: $c-white;
			border-radius: 15px;

			p {
				padding: 32px;
			}
		}

		.card {

			margin-top: 32px;
			h2 {
				margin-top: 64px; 
			}

			p {
				margin: 24px 0 ;
			}
		}
	}
}